:root {
  --color-primary: #0c66e4;
  --color-primary-shiny: #0055cc;
  --color-sidebar: #f7f8f9;
  --color-handle: #eeeff2;
  --color-button: #eeeff2;
}

:root[data-theme='light'] {
  --color-primary: #0c66e4;
  --color-primary-shiny: #0055cc;
  --color-sidebar: #f7f8f9;
  --color-handle: #eeeff2;
  --color-button: #eeeff2;
}

:root[data-theme='dark'] {
  --color-primary: #579dff;
  --color-primary-shiny: #85b8ff;
  --color-sidebar: #161a1d;
  --color-handle: #282e33;
  --color-button: #282e33;
}

.my-sidebar {
  --size-min: 20px;
  --size-default: 240px;
  --size-max: 535px;

  position: relative;
  user-select: none;
  min-width: var(--size-min);
  max-width: var(--size-max);
  background-color: var(--color-sidebar);
}

.my-sidebar.closed {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--size-min) !important;
  height: 100%;
  z-index: 15;
}

.my-sidebar.closed.animable {
  transition: width 180ms ease;
}

.my-sidebar.closed.animable:hover {
  width: var(--size-default) !important;
}

.my-sidebar > .resize-area {
  --size-handle: 3px;
  --size-area: 24px;

  position: absolute;
  width: var(--size-area);
  top: 0;
  bottom: 0;
  right: calc(-1 * calc(var(--size-area) - var(--size-handle)));
  z-index: 20;
}

.my-sidebar:not(.closed) > .resize-area {
  cursor: ew-resize;
}

.my-sidebar > .resize-area > .handle {
  --size-handle: 3px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--size-handle);
  background-color: var(--color-handle);
  z-index: 25;
  transition: background-color 220ms cubic-bezier(0.2, 0, 0, 1);
}

.my-sidebar:not(.closed) > .resize-area:is(:hover, :active) > .handle {
  background-color: var(--color-primary);
}

.my-sidebar > .button-resize {
  --top-distance: 32px;
  --left-distance: -10px;
  --size-button: 24px;

  appearance: none;
  user-select: none;
  position: absolute;
  top: var(--top-distance);
  right: var(--left-distance);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-button);
  height: var(--size-button);
  aspect-ratio: 1 / 1;
  background-color: var(--color-button);
  border-radius: 50%;
  border: none;
  opacity: 1;
  cursor: pointer;
  z-index: 30;
  transition-property: background-color, opacity;
  transition-duration: 180ms;
  transition-timing-function: ease;
}

.my-sidebar:not(.closed) > .button-resize {
  opacity: 0;
}

.my-sidebar:hover > .button-resize {
  opacity: 1;
}

.my-sidebar > .button-resize:hover {
  background-color: var(--color-primary);
}

.my-sidebar > .button-resize:active {
  background-color: var(--color-primary-shiny);
}

.my-sidebar > .button-resize:is(:hover, :active) > .icon-chevron-right {
  stroke: var(--color-button);
}

.my-sidebar > .button-resize > .icon-chevron-right {
  transition-property: color, transform;
  transition-duration: 350ms;
  transition-timing-function: ease, cubic-bezier(0.25, 0.1, 0.25, 1.65);
}

.my-sidebar > .button-resize > .icon-chevron-right.right {
  transform: rotate(180deg);
}
