html {
  background-color: var(--color-white);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  min-height: 100dvh;
  font-size: 16px;
  background-color: transparent;
}

[id='root'] {
  width: 100vw;
  min-height: 100dvh;
}
